/* @override 
	http://localhost:9016/sites/all/themes/fusion_commons_sense/css/fusion-commons-sense-style.css?d
	http://localhost:9016/sites/all/themes/fusion_commons_sense/css/fusion-commons-sense-style.css?8
	http://localhost:9016/sites/all/themes/fusion_commons_sense/css/fusion-commons-sense-style.css?O
	http://localhost:9016/sites/all/themes/fusion_commons_sense/css/fusion-commons-sense-style.css?4 */

/* $Id: fusion-starter-style.css 7659 2010-07-04 01:43:51Z chris $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  background-color: #ece9de;
  color: #464337;
}

body .row {
	min-width: 960px;
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
color: #006287;
text-decoration: none;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
border-bottom: 1px dotted #f99033;
color: #f99033;
}

h1 {
	font-family: Baskerville, Georgia, Palatino, Palatino Linotype, Book Antiqua, URW Palladio L, serif;
	font-weight: normal;
  font-size: 28px;
  line-height: 34px;
}

/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
float: left;
margin: 14px 4px 0 0;
}

/* Link and hover styles for site name */
#site-name {
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
color: #ece9de;
font-size: 28px;
line-height: 32px;
font-style: italic;
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
background: #006287 url(../images/header-gradient.png) repeat-x center top;
}

.header-group-inner {
background-color: #006287;
border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}

.block.header-site-info{
	float: left;
	width: 50%;
	margin-bottom: 8px;
}
.block.header-region {
	float: right;
	width: 50%;
	margin-bottom: 8px;	
}

.row.nav-group {
	overflow: visible;
}

/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
float: left;
width: 75%;
margin: 0;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
  font-size: 16px; 
  line-height: 22px;
  color: #464337;
  margin: 8px 0 8px 0;
  padding: 2px 14px 2px 14px;
  border-right: 1px solid #dad7cb;
}

.primary-menu-inner ul.sf-menu li.last > a,
.primary-menu-inner ul.sf-menu li:last-child > a {
	border: none;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus,
.primary-menu-inner ul.sf-menu li.sfHover > a {
background-color: #dad7cb;
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
margin: 0;
padding: 0;
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
left: -1px;
top: 32px;
background-color: #dad7cb;
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li a{
font-size: 12px;
padding: 2px 8px 2px 14px;
margin: 0;
border-bottom: 1px solid #ece9de;
}

.primary-menu-inner ul.sf-menu li li a:hover,
.primary-menu-inner ul.sf-menu li li a:focus,
.primary-menu-inner ul.sf-menu li li a:active,
.primary-menu-inner ul.sf-menu li li.sfHover > a {
	background-color: #ece9de;
}

.primary-menu-inner ul.sf-menu li li.first a {
	padding-top: 8px;
}

.primary-menu-inner ul.sf-menu li li.last {

}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {

}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
float: right;
width: 25%;
text-align: right;
margin: 0;
}

.search-box-inner {
margin: 8px 0;
}

.search-box-inner form#search-theme-form {


}

.search-box-inner input#edit-search-theme-form-header {
  background-color: #fff;
  border: 1px solid #dad7cb;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 2%;
  width: 70%;
  margin: 0;
  display: block;
  float: left;
  border-right: none;
}

.search-box-inner input#search_header {
	background: #f8862d url(../images/button-gradient.png) repeat-x 0 0;
	border: 1px solid #dad7cb;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	line-height: 14px;
	padding: 3px 2%;
	width: 25%;
	margin: 0;
	display: block;
	float: right;
	border-color: #d17f3f;
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
}

.main-inner {
	background-color: #fff;
	border: 1px solid #dad7cb;
	padding: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
background-color: #fbf3d6;
}

.inner.sidebar-last-inner {
	border-left: 1px solid #d8c687;
	padding-top: 60px;
}


/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {
}

.content-inner {
margin-top: 10px;
margin-bottom: 10px;
}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
}

.footer {
}

.footer-inner {
}

.footer-message-wrapper {
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
font-size: 12px;
line-height: 16px;
margin: 0 0 2px 0;
}

h2.pane-title {
  font-family: Baskerville, Georgia, Palatino, Palatino Linotype, Book Antiqua, URW Palladio L, serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #dad7cb;
  margin-bottom: 18px;
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs-wrapper {
background-color: #eef6f9;
border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-webkit-border-radius: 3px 3px 0 0;
border-bottom: 3px double #bad0d8;
}

.breadcrumb {
	padding: 4px 0;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  font-family: Baskerville, Georgia, Palatino, Palatino Linotype, Book Antiqua, URW Palladio L, serif;
  font-size: 12px;
  line-height: 16px;
  padding: 0 12px;
  vertical-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: #464337;
  text-decoration: none;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
margin: 0 0 10px 0;

}

.content-tabs-inner {
	margin-left: 0;
	margin-right: 0;
	}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #dad7cb;
  margin: 0;
}

#content-tabs ul.primary:after,
#content-tabs ul.secondary:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
margin: 4px 6px 4px 0;
display: block;
float: left;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius:  3px;
border: 1px solid #dad7cb;
margin: 0;
padding: 2px 6px;
background: #f5f3eb url(../images/button-gradient.png) repeat-x center top;
color: #006287;
text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a.active {
	background-color: #2786aa;
	color: #fff;
	text-shadow: none;
	border-color: #006287;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {

}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {

}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {

}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {

}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}
/* Panels
-------------------------------------------------------------- */
.twocol-70-30 .panel-panel.panel-col-last {
	width: 27%;
	margin: 0 0 0 3%;
	}
	
.twocol-30-70 .panel-panel.panel-col-first {
	width: 27%;
	margin: 0 3% 0 0;
		}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
button,
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
border: 3px double #a19f92;
background-color: #f5f3eb;
margin: 0 0 15px 0;
}

fieldset .fieldset-wrapper {
	margin: 10px;
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
	font-family: Baskerville, Georgia, Palatino, Palatino Linotype, Book Antiqua, URW Palladio L, serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 2px 10px 2px 4px;
  background-color: #fff;
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
color: #d2492a;
}

legend.collapse-processed a:hover {
	color: #006287;
	text-decoration: none;
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
	background: transparent url(../images/plus-minus.png) no-repeat 0 -186px;
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
	background: transparent url(../images/plus-minus.png) no-repeat 0 4px;
}


/* Tables
-------------------------------------------------------------- */
table {
border-collapse: separate;
}

/* Body of tables */
tbody {

}

/* Header of tables */
thead th,
th {
	font-family: Baskerville, Georgia, Palatino, Palatino Linotype, Book Antiqua, URW Palladio L, serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 6px 4px 6px;
	border-bottom: 3px double #a19f92;
	vertical-align: bottom;
}

tbody th {

}

/* Alternating row background styles */
tr.even,
tr.even td {
background-color: #faf9f4;
border-top: 1px solid #fff;
border-bottom: 1px solid #dad7cb;
padding: 6px 6px 2px;
vertical-align: top;
}

tr.odd,
tr.odd td {
background-color: #f5f3eb;
border-top: 1px solid #fff;
border-bottom: 1px solid #dad7cb;
padding: 6px 6px 2px;
vertical-align: top;
}

tr.odd td.active,
tr.even td.active {
background-color: #dad7cb;
border-top: 1px solid #f5f3eb;
border-bottom: 1px solid #a19f92;

}

tr.drag td,
tr.drag-previous td {

}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}

/* Homebox Module
/-------------------------------------------------------------- */

#homebox .homebox-portlet,
#homebox .homebox-column {
	background-image: none;
	padding: 0;
	border: none;
	margin: 0;
}

#homebox .homebox-column-wrapper-2 .homebox-column{
	margin: 0 10px;
}

#homebox .homebox-portlet .homebox-portlet-inner {
	margin: 0 0 14px 0;
	border: 1px solid #dad7cb;
}

#homebox .homebox-portlet .portlet-header {
	background-color: #ece9de;
	border-bottom: 3px double #dad7cb;
	font-weight: normal;
}

#homebox .homebox-placeholder {
	border: 1px dashed #006287;
	background-color: #dfebf0;
}

/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}


/* Ubercart - catalog
/-------------------------------------------------------------- */

/* Horizontal list of subcategories in catalog */
ul.uc-categories {
}

.uc-categories li a {
  font-weight: bold;
  padding: 0 5px 0 3px;
}

/* Product and category names */
.catalog-grid-title a:link,
.catalog-grid-title a:visited,
.category a:link,
.category a:visited {
}

.catalog-grid-title a:hover,
.catalog-grid-title a:focus,
.category a:hover,
.category a:focus {
}

/* Sell price in Ubercart catalog */
.category-grid-products .catalog-grid-sell-price {
}

/* Ubercart - add to cart buttons
/-------------------------------------------------------------- */

/* Add to cart buttons */
input.node-add-to-cart,
input.list-add-to-cart {
}

/* Hover and focus styles, with .hover class added for IE6 support */
input.node-add-to-cart:hover,
input.node-add-to-cart.hover,
input.node-add-to-cart:focus,
input.list-add-to-cart:hover,
input.list-add-to-cart.hover,
input.list-add-to-cart:focus {
}

/* Ubercart - product nodes
/-------------------------------------------------------------- */

#field-group {
}

#price-group {
}

/* Product images */
.product-image a img {
}

.product-image a:hover img,
.product-image a:focus img {
}

/* Display price on full product nodes */
.full-node .product-group .uc-price-display {
}

/* Product attributes on full nodes */
.full-node .product-group .attributes {
}

/* Ubercart - general / checkout
/-------------------------------------------------------------- */

/* For optional "Powered by Ubercart" footer message */
#store-footer {
}

#store-footer a:link,
#store-footer a:visited {
}

/* View cart/Checkout links in Ubercart cart block */
.cart-block-summary-links ul.links li a {
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
}

/* Key checkout process buttons: Checkout, Continue, and Submit Order */
#uc-cart-view-form #edit-checkout,
#uc-cart-checkout-form #edit-continue,
#uc-cart-checkout-review-form #edit-submit {
}

/* Table on final order review page */
.order-review-table {
}

#cart-form-products table th {
  border-bottom: 3px solid #dec2c3;
}


/* Drupal Commons styles
/-------------------------------------------------------------- */

/*logged-in user block*/

#block-views-user_meta-block_1{
	margin: 10px 0 0 0;
}

#block-views-user_meta-block_1 .inner {
	margin: 0;
	text-align: right;
	color: #ece9de;
}

#block-views-user_meta-block_1 .inner a {
	color: #ece9de;
}

#block-views-user_meta-block_1 .views-row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#block-views-user_meta-block_1 .views-field-picture {
	float: right;
	margin: 0 0 0 8px;
	display: block;
}

#block-views-user_meta-block_1 span {
	display: inline;
	text-align: right;
}

#block-views-user_meta-block_1 .views-field-nothing-1,
#block-views-user_meta-block_1 .views-field-nothing{
	clear: none;
	margin: 0;
	padding: 0;
	}

#block-views-user_meta-block_1 .views-field-nothing-1 a,
#block-views-user_meta-block_1 .views-field-nothing a{
	color: #ece9de;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 13px;
}	
	
#block-views-user_meta-block_1 .views-field-nothing a{
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
	border-left: 1px solid #ece9de;
}

/*Group actions*/

.block-commons_core .item-list ul,
.block-commons_core .item-list ul li {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.block-commons_core .item-list ul{
	margin-left: -15px;
	margin-right: -15px;
}

.block-commons_core .item-list ul li a {
	display: block;
	font-size: 12px;
	line-height: 18px;
	padding: 4px 14px;
	border-bottom: 1px solid #d8c687;
}

.block-commons_core .item-list ul li a:hover,
.block-commons_core .item-list ul li a.active {
	background-color: #d8c687;
	color: #fff;
}

/*Views styles*/

.view-header {
	float: left;
	width: 16%;
}

.view-header a {
	display: block;
	width: 100%;
	text-align: center;
	background:   #fff url(../images/white-button.png) repeat-x center bottom;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 0;
	text-decoration: none;
	border: 1px solid #ddd;
	color: #006287;
	}
	
.view-header a:hover {
	background-image: none;
}	

.view-filters {
	width: 100%;
}

.view-header + .view-filters {
	float: right;
	width: 82%;
	clear: none;
	margin: 16px 0 10px 2%;
}

.view-content {
	clear: both;
	}


/* Skinr
/-------------------------------------------------------------- */

/* This is a sample Skinr style to get you started. See fusion_starter.info */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}
