/* $Id: grid12-960.css 6555 2010-02-24 20:21:15Z chris $ */

/* Layout - 12 column grid, 960px fixed width, 20px gutters
-------------------------------------------------------------- */

/* grid widths */
.grid12-1 {width: 80px;}
.grid12-2 {width: 160px;}
.grid12-3 {width: 240px;}
.grid12-4 {width: 320px;}
.grid12-5 {width: 400px;}
.grid12-6 {width: 480px;}
.grid12-7 {width: 560px;}
.grid12-8 {width: 640px;}
.grid12-9 {width: 720px;}
.grid12-10 {width: 800px;}
.grid12-11 {width: 880px;}
.grid12-12 {width: 960px;}

/* block indents */
.grid12-indent-1 {margin-left: 80px;}
.grid12-indent-2 {margin-left: 160px;}
.grid12-indent-3 {margin-left: 240px;}
.grid12-indent-4 {margin-left: 320px;}
.grid12-indent-5 {margin-left: 400px;}
.grid12-indent-6 {margin-left: 480px;}
.grid12-indent-7 {margin-left: 560px;}
.grid12-indent-8 {margin-left: 640px;}
.grid12-indent-9 {margin-left: 720px;}
.grid12-indent-10 {margin-left: 800px;}
.grid12-indent-11 {margin-left: 880px;}

/* gutters (2 x margin) */
.block .inner {
  margin-left: 15px;
  margin-right: 15px;
}

/* hack to fix node-top & node-bottom being off-grid */
#content-content .node .first .inner {
    margin-right: 30px;
}

body,
div.full-width {
  min-width: 960px;
}
