/* $Id$ */

.twocol-30-70 .panel-panel {
	display: block;
	float: left;
}

.twocol-30-70 .panel-panel.panel-col-first {
	width: 27%;
	margin: 0 3% 0 0;
	padding: 0;
	overflow: hidden;
}

.twocol-30-70 .panel-panel.panel-col-last {
	width: 70%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page-admin .twocol-30-70 .panel-panel.panel-col-first,
.page-admin .twocol-30-70 .panel-panel.panel-col-last {
	overflow: visible;
}