/* $Id$ */

.twocol-70-30 .panel-panel {
	display: block;
	float: left;
}

.twocol-70-30 .panel-panel.panel-col-last {
	width: 27%;
	margin: 0 0 0 3%;
	padding: 0;
	overflow: hidden;
}

.twocol-70-30 .panel-panel.panel-col-first {
	width: 70%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page-admin .twocol-70-30 .panel-panel.panel-col-last,
.page-admin .twocol-70-30 .panel-panel.panel-col-first{
	overflow: visible;
}